.app-header {
  padding: 8px 16px;
  text-align: center;
  background: #521751;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: auto;
}
