.app-body {
  padding: 16px;
  text-align: center;
  grid-area: main;
  overflow-y: auto;
  min-height: 0; 
}

.app-footer {
  padding: 8px 16px;
  text-align: center;
  background: black;
  grid-area: footer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

.app-header {
  padding: 8px 16px;
  text-align: center;
  background: #521751;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: auto;
}

.app-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.app-navbar > a {
  margin: 10px;
  text-align: justify;
  text-decoration: none;
  color: white;
}

.app-sidebar {
  padding: 16px;
  text-align: center;
  background: #fa923f;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.app-sidebar > a {
  margin: 10px;
  text-align: justify;
  text-decoration: none;
}

.page-header {
  width: 100%;
}

.page-body {
  width: 100%;
}